.Open-Sans {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }
  /* nav style */
  
  .ooo{
    background-image: url(images/developer.png),url(images/header_bg.png);
   background-repeat: no-repeat;
   background-position: top left, bottom right;
   background-size: 150px 600px, auto;
   border: 18px;
  }
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 230px;
    
  }
  .nav-title{
font-weight: 900;
font-size: 45;
  }
.color{
   color:  #FD6E0A;
}
.nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.nav ul li{
    list-style: none;
    margin-right: 51px;
}
.nav ul li a{
  text-decoration: none;
}
/* dark-2 */
.dark-2{
   color: #474747;
}
.btn{
 background-color: #FD6E0A;
 color: white;
 padding: 10px  15px;
 border-radius: 5px;
 border: none;
 
}
/* ::content */
.banar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 35px 0 200px;
  justify-content: space-between;
}
.banar .banar-content{
  text-align: left;
}
.banar .banar-content .dark-2{
  width: 200px;
  height: 67px;
  size: 45px;
}
.banar .banar-content .banar-head{
  width: 500px;
  height: 50px;
}

/* About */
.about{
  margin: 0 auto;
  text-align: center;
  width: 1140px;
  margin-top: 130px;
  background-color: #FFF8F3;
  background-size: auto 1000px;
}
/* use all style */
.section-title{
font-size: 35px;
font-weight: bold;
color: #181818;
text-align: center;
}
.section-driscryption{
  font-size: 18px;
  color: #757575;
  text-align: center;
}
.about-itemes{
  display: flex;
  justify-content: space-around;
}
.iteme-title{
color: #757575;
}
.iteme-driscryption{
color: #474747;
font-weight: bolder;
}
/* my skile */
.what-i-do .my-skil{
  margin: 145px 130px;

}
.my-skil-cotent{
  padding: 10px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.4);
}
.my-skil-cotents{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 50px;
}
/* my-skil-cotent */
.lll{
  margin: 160px 230px;
}
.img1{
  font-weight: bold;
  font-size: 20px;
}
.skils-detals{
  font-size: 16px;
  color: #757575;
  /* opacity: 1; */
  
}
/* edo-expreent  */
.my-edca-and-expa{
display: flex;
justify-content: space-between;
gap: 71px;
}
.section-title-i{
  color: #474747;
  font-weight: bold;
  font-size: 30px;
}
.cd{
  font-weight: bold;
  font-size: 25px;
  color: #474747;
}
.dvd{
font-weight: 600px;
font-size: 20px;
color: #757575;
}
.bbc{
font-size: 16px;
color: #757575;
}
.bt{
  margin-top: 50px;
  text-align: center;
}
/* footer */
.end-footer{
width: 1400px;
height: 770px;
background-color: #FFEADA;
}
.footer{
  display: flex;
  justify-content: left;
  gap: 115px;
}
.footer-contents{
  margin-right: 228px;
  margin-top: 170px;
}
.footer-content{
  margin-left: 240px;
  margin-top: 170px;
}
.footer-head{
  font-weight: bold;
  font-size: 35px;
  width: 354px;
}
.footer-discryption{
  font-size: 16px;
  color: #474747;
  margin-top: 27px;
}
.footer-img{
  margin-top: 50px;
  gap: 15px;
}
.name{
  width: 350px;
  height: 40px;
}
.Message{
  height: 150px;
  width: 350px;
}

